## Binaries
reficio
reficio.exe

## .NET
bin/
obj/
publish/
test-publish/
*.user
*.suo
*.userosscache
*.sln.docstates

## Firebird
*.fbk
*.log

## IDE
.idea/
.vscode/
*.sln.iml

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Linux
*~
.directory
